#background{
    position: absolute;
}
form{
    height: 20em;
    width: 43em;
    overflow: hidden;
    background-color: aqua;
    position: relative;
    left: 55%;
    top: 20em;
}
form > *{
    position: relative;
    left: 1em;
}
form > div :nth-child(1n+3){
    position: relative;
    left: 4em;
}
div > input + input{
    position: relative;
    right: -5em;
}
[type='submit']{
    position: relative;
    top: 6em;
}
form > div > input{
    border-radius: 5px;
}