@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
  }
body{
    margin: 0;
    padding: 0;
    --bodyheight: 100%*height;
}
#odin_name{
    position: fixed;
    top: 5%;
    background: rgba(0, 0, 0, .5);
    height: 30%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Norse-Bold;
    font-size: 9em;
    color: aliceblue;
    z-index: 2;
}

#odin{
    height: 1.6em;
    width: 1.2em;
}

#description{
    position: absolute;
    font-family: Norse-Bold;
    font-size: 2em;
    top: 0.5em;
    left: 45%;
}
#description > #heading{
    color: red;
}
form{
    z-index: 3;
    background-color: aliceblue;
    height: 33em;
    width: 70em;
    overflow: hidden;
    position: absolute;
    left: 40%;
    top: 20em;
    box-shadow: 0 2% 3% 0 rgba(0,0,0,0.24), 0 3% 4% 0 rgba(0,0,0,0.24);
}
form > *{
    margin: 0.5em;
    position: relative;
    font-size: 1.2em;
    left: 12em;
    top: 2em;
}

form > div:not(.selector) :nth-child(1n+3){
    position: relative;
    left: 2em;
}

div:not(.selector) > input{
    border-radius: 5px;
    width: 17em;
    height: 2em;
}
input:valid{
    border-color: #04AA6D;
}
input:invalid{
    border-color: red;
}
input:checked{
    border-color: blue;
}

#lname, #PHnum,  #Confirm_password{
    position: relative;
    left: 3em;
}
.selector{
    position: relative;
    left: 13.5em;
    display: inline;
    font-size: 1.2em;
}
.selector>input{

    width: 4em;
    height: 1.5em;
}
.Button{
    margin-left: 10em;
    position: relative;
    top: 4em;
    left: 10em;
    display: inline-block;
    width: 20%;
    height: 15%;
    border: none;
    background-color: #04AA6D;
    border-radius: 5px;
    padding: 20px 28px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    box-shadow: outset;
    cursor: pointer;
}
.Button:hover{
    box-shadow: 0 2% 3% 0 rgba(0,0,0,0.24), 0 3% 4% 0 rgba(0,0,0,0.24);
}

footer{
    position: relative;
    top: 20%;
}
a{
    text-decoration: none;
    color: #04AA6D;
}